#contact_modal {
  display: none;
}

.photograph-header {
  max-width: 1440px;
  height: 300px;
  margin: 0 auto;
}

/* CSS of the photographer personal card */

.main {
  height: 315px;
  max-width: 1240px;
  width: 95%;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  margin: 0 auto;
  justify-content: space-around;
}

.photographer-personal-description {
  margin-left: 50px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photographer-name {
  font-size: 4rem;
  color: #d3573c;
}
.photographer-location {
  font-size: 1.5rem;
  color: #901c1c;
}
.photographer-tagline {
  font-size: 1.125rem;
  color: #525252;
}

.photographer-header {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photographer-div-portrait {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photographer-portrait {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* CSS of the modal */

.contact_modal {
  position: relative;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: absolute;
  right: 23%;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.header-contact-modal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-contact-modal img {
  cursor: pointer;
}

.header-contact-modal h2 {
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}

#contactForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.formData {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 15px;
}

.formData label {
  color: #312e2e;
  font-size: 36px;
}

.formData_input {
  outline: none;
  font-size: 1.5rem;
  width: 100%;
  height: 3rem;
  border: 2px solid #db8876;
  border-radius: 5px;
}

.formData textarea {
  height: 8rem;
}

.error-message {
  margin-top: 7px;
  opacity: 0;
}

.success-page {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 35px;
  width: 50%;
  height: 25%;
  right: 23%;
  top: 25%;

  position: fixed;
  background-color: #db8876;
}
.success-page h2 {
  font-size: 3rem;
}

.close-success-page {
  position: absolute;
  right: 2%;
  top: 5%;
}

/* CSS of the filter */
.filterMedias {
  gap: 15px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1240px;
  width: 95%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.filterMedias p {
  font-size: 1.125rem;
  font-weight: 700;
}

.filterMedias select {
  border: 0;
}

.filterMedias select,
option {
  border-radius: 5px;
  height: 2.5rem;
  width: 7rem;
  background-color: #901c1c;
  font-size: 1.125rem;
  color: white;
}

/* CSS of the medias feed */

.medias-feed {
  width: 95%;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
}

.photographer-media-card {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photographer-content {
  cursor: pointer;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.media-description-wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.media-title,
.media-like {
  font-size: 1.5rem;
  color: #901c1c;
}
.like-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.media-like-icone {
}

/* likes counter */

.like-counter {
  z-index: 1;
  height: 3rem;
  background-color: #db8876;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  left: 70%;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.likes {
  display: flex;
  align-items: center;
  margin-left: 10%;
  gap: 10px;
}

.daily-price {
  margin-right: 10%;
}

/* Carousel Medias */

.full-screen-media {
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 2;
  width: 80vw;
  height: 80vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #fafafa;
  border-radius: 5px;
}

.modal-media-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-media-wrapper h2 {
  margin-left: 20px;
  margin-top: 20px;
}

.modal-media-content {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

.close-media {
  background-color: #901c1c;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  transition: 0.3s ease;
}

.close-media:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.arrow-left,
.arrow-right {
  z-index: 3;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 10px solid #901c1c;
  border-bottom: none;
  border-right: none;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0.5;
  top: 50%;
}

.arrow-left {
  left: 2%;
  transform: rotate(315deg);
}

.arrow-right {
  transform: rotate(135deg);
  right: 2%;
}

.arrow-left:hover {
  transform: scale(1.1) rotate(315deg);
  opacity: 1;
  transition: all 0.3s ease;
}

.arrow-right:hover {
  transform: scale(1.1) rotate(135deg);
  opacity: 1;
  transition: all 0.3s ease;
}

/* heart */

.heart {
  color: #901c1c;
  font-size: 1.25rem;
}
