#contact_modal {
  position: relative;
  display: none;
}

.modal {
  z-index: 2;
  max-width: 670px;
  width: 70%;
  right: 0;
  left: 0;
  top: 5%;
  position: fixed;
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.header-contact-modal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.close-modal-button {
  border: 0px;
  background-color: transparent;
  height: 50px;
}

.header-contact-modal img {
  cursor: pointer;
  margin-bottom: 75px;
}

.header-contact-modal h2 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.personal-info {
  width: 100%;
}

.personal-message {
  width: 100%;
}

#contactForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.formData {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  align-items: self-start;
  margin-bottom: 15px;
}

.formData label {
  color: #312e2e;
  font-size: 2rem;
}

.formData_input {
  outline: none;
  font-size: 1.5rem;
  width: 100%;
  height: 3rem;
  border: 2px solid #db8876;
  border-radius: 5px;
}

.formData textarea {
  height: 8rem;
}

.error-message {
  margin-top: 7px;
  opacity: 0;
  color: rgb(255, 0, 0);
}

.success-page {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 670px;
  height: 350px;
  left: auto;
  position: fixed;
  background-color: #db8876;
}

.success-page h2 {
  font-size: 3rem;
}

.close-success-page {
  position: absolute;
  right: 2%;
  top: 5%;
}

@media screen and (max-width: 1048px) {
  .success-page {
    width: 500px;
    height: 300px;
  }
  .success-page h2 {
    font-size: 2rem;
  }
  .close-success-page {
    width: 30px;
    height: 30px;
  }
  .error-message {
    font-size: 0.875rem;
    margin-top: 3px;
  }
}

@media screen and (max-width: 768px) {
  .header-contact-modal h2 {
    font-size: 1.25rem;
  }
  .formData label {
    font-size: 1rem;
  }
  .formData_input {
    font-size: 0.75rem;
  }
  .close-modal-message {
    width: 20px;
    height: 20px;
  }
  .success-page {
    width: 250px;
    height: 150px;
  }
  .success-page h2 {
    font-size: 1.25rem;
  }
  .close-success-page {
    width: 20px;
    height: 20px;
  }
  .formData textarea {
    height: 4rem;
  }
  .error-message {
    font-size: 0.6125rem;
    margin-top: 0px;
  }
}
